<ion-header>
    <ion-toolbar>
        <ion-title>
            <h1>Bienvenido</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-buttons slot="start">
    <ion-menu-button menuId="menuPrincipal"></ion-menu-button>
</ion-buttons>
<ion-content>
    <ion-card-content>
        <ion-label>Usuario : {{data.usuario}}</ion-label>
        <ion-input type="text"></ion-input>


    </ion-card-content>

    <ion-content>
        <ion-button href="home">Volver</ion-button>
    </ion-content>
</ion-content>
